.formContainer {

  background: lightgreen;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
 
  gap: 1rem;
}

.inputLabel {
  margin-right: 1rem;
  text-align: left;
}

.inputField {
  width: 50%;
}
.submitButton {
  display: block;
  margin: 1rem auto;

}

.result {
  width: 50%;
  margin: 0 auto;
  border: 2px solid red;
}